@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

/*--body-définit-par-principal--*/

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

/*--quelques-valeurs-fixes--*/

#principal{
  margin: 0 20px 20px;
}

.second-text{
  font-weight: 600;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

h2{
  font-weight: 700;
}

.flex{
  display: flex;
}

/*--header--*/

header{
  justify-content: space-between;
  margin-bottom: 30px;
}

/*--logo--*/

.logo{
  margin-top: 1rem;
  flex: 1;
}

/*--navbar-li-height--*/

nav li{
  padding-top: 40px;
}

nav a{
  padding: 40px 30px 0;
}

.li-height{
  color: #0065fc;
  padding: 40px 40px 0;
  font-weight: 700;
}

nav li a:hover{
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 38px;
}

/*--Searching-section--*/

.searching{
  margin-bottom: 30px;
}

.searching p{
  margin-top: 10px;
}

.searching h2{
  margin-bottom: 10px;
}

.bar-searching{
  margin-bottom: 30px;
  height: 50px;
}

.searchInput{
  border: 1px solid #f2f2f2;
  padding: 0 0 0 15px;
  font-size: 1.1rem;
  font-weight: 600;
  width: 230px;
}

.marker-box{
  background-color: #f2f2f2;
  border-radius: 1rem 0 0 1rem;
  width: 50px;
  flex-shrink: 0;
}

.marker-box i{
  margin: auto;
  font-size: 1.2rem;
}

.searchInput::placeholder{
  color: #c2c2c2;
}

.button-search{
  width: 130px;
  background-color: #0065fc;
  border: none;
  padding: 0;
  border-radius: 0 15px 15px 0;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  flex-shrink: 0;
}

.button-search i{
  display: none;
}

/*--Filters--*/

.filter-text{
  align-self: center;
}

.filters{
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 35px;
}

.filter{
  height: 45px;
  border: 2px solid #f2f2f2;
  border-left: none;
  margin-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  align-items: center;
}

.filter span{
  padding-left: 12px;
}

.filter:hover{
  background-color: #87cefa;
  border-color: #0065fc;
  color: #0065fc;
  cursor: pointer;
}

.filter-container{
  flex-wrap: wrap;
}

.circle{
  border-radius: 50%;
  right: 1px;
  width: 50px;
  height: 50px;
  background-color: #deebff;
  position: relative;
}

.circle i{
  margin: auto;
  color: #0065fc;
}

/*--cercle-info--*/

.i-circle{
  border: 2px solid #f2f2f2;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 1rem;
}

.i-circle i{
  font-size: 0.9rem;
  margin: auto;
  color: #0065fc;
}

/*--Hebergements--*/

.Hebergements{
  flex: 2;
}

.Hebergements,
.aside{
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 20px;
}

.Hebergements > h2{
  margin: 0;
}

.flex-container{
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 25px;
  margin: 30px 0px 50px;
}

.flex-auberge{
  display: grid;
  grid-template-rows: 1fr 40%;
  height: 220px;
  box-sizing: border-box;
  border: 5px solid #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 7px #c1c1c1;
}

.flex-auberge img{
  width: 100%;
  height: 126px;
  object-fit: cover;
}

.text-box{
  flex-direction: column;
  padding: 4px 8px;
  justify-content: space-around;
  background-color: #fff;
}

.text-box p{
  margin: 0;
}

/*--stars--*/

.rating-stars{
  word-spacing: -1ch;
}

.fa-star{
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.greyStar{
  color: #f2f2f2;
}

.blueStar{
  color: #0065fc;
}

.showPlus{
  font-size: 1.2rem;
  font-weight: 700;
}

/*--aside--*/

.aside{
  flex: 1;
  margin-left: 3%;
}

.container-as{
  justify-content: space-between;
  align-items: baseline;
}

.container-as h2{
  margin-top: 0;
  margin-bottom: 25px;
}

.container-as i{
  font-size: 1.5rem;
}

.aside-box{
  box-sizing: border-box;
  height: 145px;
  border: 5px solid #fff;
  border-radius: 15px;
  margin-bottom: 35px;
  box-shadow: 0 0 7px #c1c1c1;
  overflow: hidden;
}

.aside-box img{
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.text-aside{
  flex: 1;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.first-text{
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
}

.text-aside .first-text + p{
  margin-top: 8px;
  margin-bottom: 0;
}

/*--Grid-Activities--*/

.wrapper{
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(4, 1fr);
  gap: 37.5px;
  grid-auto-flow: column;
  height: 450px;
}

.rowA{
  grid-row-end: span 13;
}

.rowB{
  grid-row-end: span 7;
}

.rowC{
  grid-row-end: span 6;
}

.gride-activity{
  display: grid;
  grid-template-rows: 1fr 50px;
  box-sizing: border-box;
  border-radius: 15px;
  height: 100%;
  box-shadow: 0 0 7px #c1c1c1;
  overflow: hidden;
}

.gride-activity img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.gride-text{
  align-self: center;
  padding-left: 10px;
  font-size: 1.1rem;
  background-color: #fff;
  font-weight: 700;
}

/*--footer--*/

footer{
  padding: 45px 20px 50px;
  background-color: #f2f2f2;
}

footer div{
  flex: 1;
}

footer li{
  margin-bottom: 15px;
}

footer a:hover{
  font-weight: 600;
  color: #0065fc;
}





/*---Starting-MQ-1024--*/

@media only screen and (max-width: 1024px) 

{
  /*--1024-Searchining--*/

.filters{
    flex-direction: column;
  }

.filter{
    margin: 0 2rem 1rem 0;
  }

.filter-text{
    align-self: auto;
    margin-bottom: 15px;
  }


  /*--1024-aside--*/


.text-aside .first-text{
    font-size: 1.4rem;
  }  

.aside {
    margin: 0 0 20px;
  }

.aside-box {
    height: 180px;
  }

.text-aside p {
    font-size: 1.2rem;
  }

.text-aside .fa-star {
    font-size: 1rem;
  }


/* Hebergements-1024--*/

.Hebergements {
    order: 2;
  }

.hebergements {
    flex-direction: column;
  }

/*--activities-1024--*/

.wrapper {
    height: auto;
  }

.gride-activity {
    height: 190px;
  }

.rowA, .rowC, .rowB {
    grid-row-end: span 4;
    grid-column-end: span 2;
  }

.gride-text {
    font-size: 1.1rem;
  }


/* Footer - Tablet */

  footer div {
    padding: 10px;
  }
}




/*--MQ-1280-ipadpro--*/

@media only screen and (max-width: 1280px) 
{

.flex-container{
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    margin: 30px 0;
}

.Hebergements{
    flex: 1.5;
}

.gride-text{
    font-size: 1rem;
  }
}




/*--MQ-600-smartphone--*/

@media only screen and (max-width: 600px) 
{

#principal{
    margin: 0;
  }

h2 {
    font-size: 1.4rem;
  }


/*--header-600--*/

header{
    margin: 0;
    flex-direction: column;
  }

.logo{
    margin-left: 20px;
  }

.li-height{
    align-self: flex-end;
    padding: 0;
    margin-right: 20px;
    bottom: 30px;
    position: relative;
  }

nav{
    order: 3;
  }

nav ul{
    width: 100%;
  }

nav li {
    text-align: center;
    width: 50%;
    padding: 20px 0;
    border-bottom: 3px solid #f2f2f2;
  }

  nav li a {
    padding: inherit;
  }

  nav li a:hover {
    border-top: none;
  }

  nav li:hover {
    border-bottom-color: #0065fc;
  }



/*--Searching-600px--*/

.searching {
    margin: 30px 20px;
  }

.searchInput {
    flex: 1;
  }

.bar-searching {
    margin: 35px 0 30px;
  }

.button-search {
    width: 50px;
    border-radius: 15px;
    left: -20px;
    position: relative;
  }

.button-search span {
    display: none;
  }

.button-search i {
    display: inline-block;
  }

.filters {
    margin-bottom: 12px;
  }

  
/*--aside-600--*/

.aside {
    padding: 40px 20px 30px;
    margin-bottom: 40px;
    border-radius: 0;
  }

.aside-box {
    height: 145px;
    margin-bottom: 10px;
  }

.container-as i {
    font-size: 1.4rem;
  }

.first-text {
    font-size: 1rem;
  }

.text-aside p {
    font-size: 0.9rem;
  }

.text-aside {
    padding: 15px 20px 10px 20px;
  }

.fa-star {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

/*--hebergements-600--*/

.flex-auberge {
    height: 200px;
  }

.Hebergements {
    background-color: initial;
    padding: 0 20px;
  }

.flex-container {
    grid-template: repeat(6, 1fr) / 1fr;
    gap: 15px;
  }

.flex-auberge img {
    height: 116px;
  }

.text-box p {
    font-size: 0.9rem;
  }



/*--activities-600--*/


.activities {
    margin: 55px 20px 45px;
  }

  .wrapper {
    grid-template: repeat(6, 1fr) / 1fr;
    grid-auto-flow: initial;
    gap: 24px;
  }

.rowA, .rowC, .rowB {
    grid-row-end: span 1;
    grid-column-end: span 1;
  }


  /*--footer-600--*/

  footer {
    padding: 45px 25px;
    flex-direction: column;
  }

  footer div {
    padding: 0;
  }
}
