@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');



body 
{
    font-family: 'Raleway', sans-serif;
}


 

/* --titre-principal-- */

.titre-principal
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}


.logo
{
    vertical-align: top;
}


nav ul
{
  list-style-type: none;
  display: inline-flex; 
  margin: 35px 70px 0px 0px;
  color: #808080;
}


nav a
{
    font-size: 1em;
    padding: 26px;
    color:  #808080;
    text-decoration:none;
    font-style: normal;  
}



/*--navblue avec 2 balises--*/


nav a:hover
{
    color: #0065fc;
    border-top: 2px solid #0065fc; 
}


.li-height
{
    color: #0065fc;
}


/*--Trouvez votre hebergement--*/

.hcentre
{
    display: flex;
    flex-direction: column;
}

.hebergement
{
    font-weight: bold;
    font-size: 21px;
    margin-top: 15px;
    
}
.centre
{
    color: gray;
    font-size: 15px;
    margin-top: 1em;
    padding-bottom: 2em;
}


/*--régler h1 dans toute le css--*/
h1
{
    font-size: 1em;
   
}
h1+p
{
    color:grey;
}


/* --formulaire--*/

.recontainer-a
{
  display: inline-flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: bold;
  visibility: visible;
} 


.left
{
    background: lightgray;
    padding: 4px 10px 0px 15px;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}


.middle
{
    display: block;
    border: .01px solid lightgray;
    position: relative;
    padding: 0px 70px 9px 25px;
}

.middle h2
{
    margin: 13px 7px 2px 2px;
    font-size: 15px;
}


.boutton
{
    border: 0px;
    padding: 10px 12px 10px 10px;
    background-color: #0065fc;
    color: #ffffff;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}


/*--shadow-hover-layer--*/

.boutton:hover 
{
    background-color:#808080;
}


/*--hidden-item--*/

.recontainer-b
{
  display: none;
  
} 


/*--filtres--*/

.container-aa
{
    display:flex; 
    font-size: 15px;
    font-weight: bold;
    margin: 30px 0px 0px 0px;
    visibility: visible;
}

.container-aa > div:hover
{
    cursor: pointer;
    border-color: #0065FC;
    color: #0065FC;
}


.container-aa h1
{
    padding: 8px 50px 10px 3px;
    font-style: normal;
    font-size: 20px; 
}


.cercle-filtre
{   
    height: 37px; 
    position:relative;
    width: 37px; 
    background: #DEEBFF;
    border-radius: 100%; 
    margin: -1px 0px 0px -3px ;
    color: #0065FC;
    text-align: center;   
}


.fas
{ 
    padding: 12px 9px 0px 1px;
    margin-left: 5px;
    font-size: 13px;
    text-align: center;
}

.container-aa h2
{ 
    padding: 0px 0px 0px 50px;
    position: absolute;
    font-size: 13px;
}


.economique
{
    border: 2px solid rgb(233, 230, 230);
    margin: 17px 45px 12px 0px;
    padding: 0px 140px 0px 0px;
    border-radius: 5em;
    position: relative;
}


/*--familial--*/

.familial
{
border: 2px solid rgb(233, 230, 230);
margin: 17px 45px 12px 10px;
padding: 0px 105px 0px 0px;
border-radius: 5em;
position: relative;
}


/*--romantique--*/

.romantique
{
    border: 2px solid rgb(233, 230, 230);
    margin: 17px 45px 12px 10px;
    padding: 0px 135px 0px 0px;
    border-radius: 5em;
    position: relative;
}

 
/*--animeaux-autorises--*/

.animeaux_autorises
{
border: 2px solid rgb(233, 230, 230);
margin: 17px 25px 12px 10px;
padding: 0px 180px 0px 0px;
border-radius: 5em;
position: relative;
}



/*--cercle d'info--*/

.cercle-info
{
    display: flex;
    justify-items: left;
    margin-top: 1em;
    padding: 0em 5em 1em 0em
}

.cercle
 {   

 height: 10px; 
 position:relative;
 width: 16px; 
 background: #fff;
 border:2px solid rgb(233, 230, 230);
 border-radius: 100%; 
 margin: 23px 8px 10px 0px; 
 padding: 0px 0px 10px 5px;        
 }

.info
{
    font-size: 9px;
    position:absolute;
    color: #0065fc;
    margin: 3px 0px 0px 3px;
    padding-top: 1px;
    text-align: center;
}

.pin
{
    position: relative;
    font-size: 15px;
    color: gray;  
    margin: 3px 0px 0px 3px;
    padding: 1px 0px 0px 0px;
    text-align: center;

}


.container-bb
{
    display: none;  
    visibility: hidden;
}


/*--Hebergement à Marseille--*/

.flex-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;   
    padding: 4px 12px 0px 0px;
    background-color: #F2F2F2;
    border-radius: 1em;
}

.flex-container > div 
{
    border: gray;
    background-color: #ffffff;
    margin: 95px 65px -45px 62px;
    padding: 0px 185px 170px 0px;
    position: relative;
    box-shadow: 0px 0px 10px 0px #808080;
    border-radius: 15px; 
  }
 
.flex-container h2
  {
      margin: 40px 42px;
      font-size: 20px;
      position:absolute;
      font-weight: bold;
  }

.flex-container p
{
  margin: 90px 0px 40px 65px;
  font-weight: bold;
  font-size: 15px;

}


.img
{
    width: 98%;
    height: 110px;
    object-fit: cover;
    margin: 1px 0px 0px 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position:absolute;
}

.text-boxe 
{
     position:absolute;
    text-align: left;
    padding: 119px 0px 0px 11px;
    line-height: 17px;
    font-size: 13px;   
}

.tfirst
{
    font-weight: bold;
}

.tsecond
{
    color:#808080;
    font-size: 12px;
}


/* Par défaut, une étoile est en gris */
   .fa-star 
   {
	color: #d3d3d3;
	cursor: pointer;
    padding: 0.0625rem;
    
}
/* la classe '.checked', elle sera en blue. */
.fa-star.checked {
    color: #0065fc;
}

/* Le parent global '.rating' positionne le groupe des étoiles et le lien en colonne */
.rating 
{
	display: flex;
	flex-direction: column;
    align-items: flex-start; 
    text-align: center;   
}

	/* Le groupe stars */
.stars {
		display: inline-flex;
		justify-content: center;
        font-size: 8px;
        margin-bottom: 5px;
	}

	/* hover sur le parent */
.stars:hover .fa-star {
		color: #0065fc;
	}
	/* si la souris survole une étoile en particulier,
		 on sélectionne toutes les étoiles qui sont APRÈS celle-ci
		 grâce à l'opérateur '~' et on les force en GRIS */
	.stars .fa-star:hover ~ .fa-star {
		color: gray;
    }
 
    
/*--aside--*/


#flex-container-as
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 1em;
    padding: 3px 2px 38px 13px;
    margin: 0px 50px 1px 12px;
    position: relative;
}


#flex-container-as > div
{
    border: gray;
    background-color: #fff;
    border-radius: 1em;
    margin: 2px 32px 30px 30px;
    padding: 0px 0px 20px 2px;
    box-shadow: 0px 0px 10px 0px #808080;
    position: relative;
}

.aside-img
{
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 35%;
    height: 117px;
    margin-top: 2px;
    object-fit:cover;
    position: absolute;
}
.text-aside
{
    position: relative;
    text-align: center;
    margin: -17px 35px 10px 70px;
    padding-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
}

.first-as
{
    position: relative;
    text-align: left;
    padding-left: 70px;
    margin: 35px 7px 0px 0px;
    font-weight: bold;
}

.second-as
{
    position: relative;
    text-align: left;
    width: 101px;
    padding: 0px 15px 0px 60px;
    margin: 0px 0px 4px 10px;
    color: gray;
    font-size: 10px;
}

.populaire
{
    font-weight: bold;
    font-size: 20px;
    margin: 42px 0px 20px 30px;
}

.fa-chart-line
{
font-size: 25px;
margin: -15px 0px 6px 90px;
position: absolute;
}

.stars-as 
{
    display: inline-flex;
    justify-content: center;
    font-size: 8px;
    margin: 20px 0px -23px 69px;
}


section
{
    display: flex;
    margin: 0px;
}
   
article, aside
{

    margin-left: 2em;   
}


article
{
  margin-right: 0px;

}


/*--section2-GridImages--*/

article h2

{
    font-size: 20px;
    padding-bottom: 20px;
    margin: 46px 0px 0px -30px;
    font-weight: bold;
}

.wrapper
{
   display:grid;
   grid-template-columns: repeat(4, 327px);
   grid-auto-rows: 30px;
   grid-gap: 20px;   
   margin: 10px 0px 0px -35px;
}

.wrapper > div
{
    box-shadow: 2px 2px 8px 2px #F2F2F2;
    border: 2px;
    background-color:#ffff;
    border-radius: 1em;
    object-fit: cover;
}

.gride-port
{
    grid-column: 1/2;
    grid-row: 1/9; 
}

.gride-img-port
{
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.gride-pomegues
{ 
    grid-column: 2/3;
    grid-row: 1/5 ;  
}

.gride-img-pomegues
{   width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.gride-frioule
{
    grid-column:2/3;
    grid-row: 5/9;
}
.gride-img-frioule
{
    width: 100%;
    height: 140px;
    object-fit:cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

.gride-calanques
  {
    grid-column: 3/4 ;
    grid-row: 1/9 ;
  }
  
  .gride-img-calanques
  {
    width: 100%;
    height: 340px;
    object-fit:cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
  }


.gride-notre-dame 
{
    grid-column:4/5 ;
    grid-row:1/5 ;
}

.gride-img-notre-dame
{
    width: 100%;
    height: 140px;
    object-fit:cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

.gride-longchamp
{
    grid-column:4/5 ;
    grid-row:5/9 ;
}

.gride-img-longchamp
{
    width: 100%;
    height: 140px;
    object-fit:cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

.wrapper p
{
    font-weight: bold;
    font-size: 12px;
    margin: 1em 0 0em 2em;
}


/*--footer--*/

#foot-container
{    
    display: flex;
    border: 1px;
    background-color: #F2F2F2;
    margin: 30px 10px 0 -50px;
    padding-bottom: 30px;
}

#foot-container > div
{
    margin: 31px 5px 0px 54px;
    padding-right:118px ;
    color: #808080; 
    text-align: justify;
    line-height: 1.6em;    
}


#foot-container h2
{
    font-weight: bold;
    color:#000000;
}






/*--Start-Mqueries-mobile--*/

@media all and (max-width: 500px)

{
      

/*--MQ-logo-nav--*/


.titre-principal
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly ; 
}

.logo
{

    margin-top: 1em;
}

/*--MQ-nav--*/

/*--MQ-blueline--*/

ul {
    padding-bottom: 14px;
    position: relative;
    border-bottom: 3px solid #ccc;
    width:650px
  }
  
  
nav ul
 {
    display: flex;
    margin-top: 21px;
}

nav a 
{
    padding: 25px;
}

nav li
  {
      margin: 0px 75px 11px -27px;    
  }
  
  
  .li-middle
  {
      color: #808080;
      margin: 0px 20px 3px 25px;
  }

  
.li-height
{
    margin: -80px 0px 0 -120px;
    color: #0065FC;
    font-size: 18px;
    position:absolute;
}


nav a:hover
{
    border-bottom: 2.5px solid #0065fc ; 
    border-top: none;
}



/*--MQ-hébergement-centre--*/

.hcentre
{
    display: flex;
    flex-direction: column;  
}

.hebergement
{
    font-weight: bold;
    margin-top: 40px;
    font-size: 22px;
}

.centre
{
    color: #808080;
    font-size: 19px;
    margin-top: 10px;
    padding-bottom: 15px;
}


/* --MQ-formulaire--*/

.recontainer-a
{
  display: none;
} 


.boutton
{
    border: 0px;
    height: 33px;
    background-color: #0065fc;
    color: #ffffff;
    border-top-right-radius: 1em;
    border-bottom-right-radius:1em;
    margin-right: 20em;
}



/*--MQ-hidden-item--*/

.recontainer-b
{
  display: flex;
  flex-direction: row;
  justify-items: left;
  font-weight: bold;
  visibility: visible;
  position: relative;
  margin-top: 18px;
} 

.left-h
{
    background: #F2F2F2;
    padding: 5px 5px 0px 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
}

.recontainer-b .fas
{
    padding: 10px 15px 0px 15px;
    font-size: 19px;
    text-align: center;
}


.middle-h
{
 display: block;
 border: 1px solid #F2F2F2;
 position:relative;
}

.middle-h h2
{
    font-size: 19px;
    margin: auto;
    padding: 15px 210px 12px 55px;
    text-align: center;
}

.btn
{
    border:none;
    background-color: #0065fc;
    border-radius: 13px;
    cursor: pointer;
    margin-left: 412px;
    position: absolute;
}

.btn .fas
{
    color:#ffffff;
    padding: 17px 15px 13px 10px;
    font-size: 19px;
    text-align: center;
}

.btn:hover 
{
    background-color: #87cefa;
    padding: 0px 10px 1px 0px;
}


  /*-MQ-filtres*/


  /*--Hidden-Filtres--*/

.container-aa
{
    display: none ;
    visibility: hidden ;
}


.container-bb
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
    margin-top: 30px;
    color: #0065FC;
    position: relative;
    visibility: visible;
}
 

.container-bb > div:hover
{
    cursor: pointer;
    border-color: #0065FC;
    color: #0065FC;
}


.container-bb h1
{
font-size: 20px;
margin: 1px;
position: absolute;
position: absolute;
color: #000000;
}


.economique-h
{
    border: 2px solid rgb(233, 230, 230);
    margin: 38px 15px 0px 4px;
    padding: 0px 60px 0px 25px;
    border-radius: 25px;
    position: relative;
    color: #0065FC;
}


.container-bb h2
{
    margin: 0px -15px 4px -22px;
    padding: 8px 50px 0px 50px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: #000000;
}



.cercle-filtre-mq
{   
    background: #DEEBFF;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: -38px 0px 0px -30px;
    position: absolute;
    text-align: center;

}

.cercle-filtre-mq .fas
{ 
    font-size: 13px;
    margin: 2px 2px 2px 10px;
    position: relative;
    text-align: center;
}


/*--familial--*/

.familial-h
{
    border: 2px solid rgb(233, 230, 230);
    margin: 37px 2px 0px 0px;
    padding: 1px 24px 0px 28px;
    border-radius: 28px;
    position: relative;
}


/*--MQ-romantique--*/

.romantique-h
{
    border: 2px solid rgb(233, 230, 230);
    margin: 38px 80px 0px 2px;
    padding: 0px 52px 0px 26px;
    border-radius: 28px;
    position: relative;
}



     
   
/*--MQ-animeaux-autorises--*/

.animeaux_autorises-h
{
    border: 2px solid rgb(233, 230, 230);
    margin: 38px 0px 0px 2px;
    padding: 0px 40px 0px 28px;
    border-radius: 28px;
    position: relative;
}


/*--cercle d'info--*/

.cercle-info
{
    display: flex;
    margin: 30px 0px 60px -15px;
}

.cercle
 {   

    background: #ffffff;
    border: 2px solid rgb(233, 230, 230);
    border-radius: 100%;
    margin: 20px 0px 0px 15px;
    padding: 0px 0px 12px 6px;
 }

.info
{
    font-size: 11px;
    position: absolute;
    color: #0065fc;
    margin: 3px 0px 0px 2px;
}

.pin
{
    position: absolute;
    margin-left: 26px;
    color: gray;    
}

.cercle-info h2
{
    padding: 4px 70px 0px 25px;
    text-align: left;
    font-size: 19px;
}


/*--MQ-Hidden-aside--*/

/*--MQ-Section-inversée--*/

section 
{
    display: flex;
    flex-direction: column-reverse;
}


/*--MQ-Haside--*/

#flex-container-as
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin: 0px -10px 0px -40px;
    padding:0;
    position: relative;
    border-radius: 0px;
}


#flex-container-as > div
{
    border: gray;
    background-color: #fff;
    border-radius: 1em;
    margin: 0px 20px 40px 5px;
    padding: 0;
    box-shadow: 0px 0px 10px 0px #808080;
    position: relative;
  
}

.aside-img
{
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 30%;
    height: 152px;
    margin-top: 2px;
    object-fit: cover;
    position: absolute;
}

.text-aside
{
    position: relative;
    padding-bottom: 25px;
    margin: 10px 0px 0px 87px;
    font-size: 20px;
    line-height: 21px;
}

.first-as
{
    position: relative;
    padding: 26px 0px 10px 68px;
    margin: auto;
   font-weight: bold;
}

.second-as
{
    position: relative;
    padding: 2px 0px 6px 58px;
    color: gray;
    font-size: 15px;
    line-height: 19px;
}

.populaire
{
    font-weight: bold;
    font-size: 22px;
    margin: 36px 0px 18px 12px;
}

.fa-chart-line
{
    font-size: 25px;
    margin: -14px 0px 0px 162px;
    position: absolute;
}

.stars-as
{
    display: inline-flex;
    justify-content: center;
    font-size: 10px;
    margin: 0px 0 2px 65px;
}


 /*--MQ-Hebergement à Marseille--*/

 
 .flex-container
 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px -17px 0px -10px;
    padding: 3px 12px 10px 0px;
    background-color: #fff;
 }
 
 .flex-container > div 
 {
    border: gray;
    background-color: #ffffff;
    margin: 91px 40px -64px 6px;
    padding: 1px 486px 242px 0px;
    position: relative;
    box-shadow: 0px 0px 10px 0px #808080;
    border-radius: 15px;
   }
  
 .flex-container h2
   {
    margin: 52px 7px;
    font-size: 22px;
    position: absolute;
    font-weight: bold;
   }

 .img
 {
    width: 99%;
    height: 165px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
 }
 
 .text-boxe 
 {
    position: absolute;
    text-align: left;
    padding: 180px 0px 0px 12px;
    line-height: 22px;
    font-size: 18px; 
 }
 
 .tfirst
 {
     font-weight: bold;
 }
 
 .tsecond
 {
     color:#808080;
     font-size: 12px;
 }
 
 
     /* Le groupe stars */
 .stars 
 {
    display: inline-flex;
    justify-content: center;
    font-size: 10px;
    margin-bottom: 5px;
}
 
     .flex-container p
 {
    margin: 110px 0px 29px 12px;
    font-weight: bold;
    font-size: 15px;
    position: relative;
 }
   



/*--MQ-grid--*/

article h2

{
    font-size: 22px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0 -28px;
    font-weight: bold;
}

.wrapper
{
    display: flex;
    flex-direction: column;
    margin: 10px 28px 0px -36px;
}

.wrapper > div
{
    border: gray;
    background-color: #fff;
    box-shadow: 2px 2px 8px 2px #F2F2F2;
    margin:45px -22px -20px 0px;
    padding-bottom: 20px;
    position: relative;
    border-radius: 15px; 
}

.wrapper p
{
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0px 0px 18px;
}


.gride-img-port
{
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.gride-img-pomegues
{   width:100%;
    height:190px;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;

}

.gride-img-frioule
{
    width:100%;
    height:190px;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

  .gride-img-calanques
  {
    width:100%;
    height:190px;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
  }

.gride-img-notre-dame
{
    width:100%;
    height:190px;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

.gride-img-longchamp
{
    width:100%;
    height:190px;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}



/*--footer--*/

#foot-container
{    
    display: flex;
    flex-direction: column;
    border: 1px;
    background-color: #F2F2F2;
    margin: 60px -15px 0px -30px;
    padding-bottom: 30px;
}

#foot-container > div
{
    text-align: justify;
    margin-left: 2em  ;
    color: #808080; 
    text-align: justify;
    line-height: 1.6em;    
}

#foot-container h2
{
    color: black;
    font-weight: bold;
}

}
/*--End-MQ--*/
