@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


body 
{
    font-family: 'Raleway', sans-serif;
}


/* --logo-- */

.titre-principal
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}


.logo
{
    vertical-align: top;
}


/* --navbar-- */

nav ul
{
  list-style-type: none;
  display: inline-flex; 
  margin-top: 2rem;
  color: #808080;
}

nav a
{
    font-size: 1em;
    padding: 2rem;
    color:  #808080;
    text-decoration:none;
    font-style: normal;  
}


/*--navblue avec 2 balises--*/


nav a:hover
{
    color: #0065fc;
    border-top: .1rem solid #0065fc; 
}


.li-height
{
    color: #0065fc;
}


/*--Trouvez votre hebergement--*/

.hcentre
{
    display: flex;
    flex-direction: column;
}

.hebergement
{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    
}
.centre
{
    color: gray;
    font-size: 1rem;
    margin-top: 1em;
    padding-bottom: 2em;
}


/*--régler h1 dans toute le css--*/
h1
{
    font-size: 1em;
   
}
h1+p
{
    color:grey;
}



/* --formulaire--*/

.btn{
    visibility: hidden;
}

.recontainer
{
  display: inline-flex;
  flex-direction: row;
  font-weight: bold;
  visibility: visible;
} 


.left
{
    background: #d3d3d3;
    padding: 1rem 1rem 0rem 1rem;
    margin: 0;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border: .1rem solid #808080 ;
}

.left .fas
{
    padding: .1rem 1rem 0rem 1rem
}



.search
{
    display: block;
    border: .01px solid #d3d3d3;
}

.searchInput
{
    margin: auto;
    padding: 1rem 7rem 1rem 3rem;
    font-size: 1rem;
}


.boutton
{
    border: 0rem;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #0065fc;
    color: #ffffff;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}


/*--shadow-hover-layer--*/

.boutton:hover 
{
    background-color:#808080;
}


/*--filtres--*/

.container-aa
{
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    margin: 3rem 0;
    visibility: visible;
}

.container-aa > div:hover
{
    cursor: pointer;
    border-color: #0065FC;
    color: #0065FC;
    background-color: #87cefa;

}


.container-aa h1
{
    padding-right: 2rem;
    font-style: normal;
    font-size: 1.5rem;
}


.cercle-filtre
{   
    height: 37px; 
    position:relative;
    width: 37px; 
    background: #DEEBFF;
    border-radius: 100%; 
    color: #0065FC;
    text-align: center;   
}


.cercle-filtre .fas
{ 
    margin: .9rem .2rem 0rem 0rem;
    font-size: .8rem;
    text-align: center;
}

.container-aa h2
{ 
    padding-left: 3rem;
    position: absolute;
    font-size: 1rem;
}


.economique
{
    border: 2px solid rgb(233, 230, 230);
    margin: 1rem 1rem 1rem 0rem;
    padding-right: 10rem;
    border-radius: 5em;
    position: relative;
}


/*--familial--*/

.familial
{
    border: 2px solid rgb(233, 230, 230);
    margin: 1rem 2rem 1rem 1rem;
    padding-right: 6rem;
    border-radius: 5em;
    position: relative;
}


/*--romantique--*/

.romantique
{
    border: 2px solid rgb(233, 230, 230);
    margin: 1rem 2rem 1rem 1rem;
    padding-right: 8rem;
    border-radius: 5em;
    position: relative;
}

 
/*--animeaux-autorises--*/

.animeaux_autorises
{
    border: 2px solid rgb(233, 230, 230);
    margin: 1rem 4rem 1rem 1rem;
    padding-right: 12rem;
    border-radius: 5em;
    position: relative;
}




/*--cercle d'info--*/

.cercle-info
{
    display: flex;
    justify-items: left;
    padding-bottom: 2em;
}

.cercle
 {   

    background: #fff;
    border: 2px solid rgb(233, 230, 230);
    border-radius: 100%;
    margin: 1rem 1rem 1rem 0rem;
    padding-left: 1rem;   
 }

.info
{
    font-size: 1rem;
    color: #0065fc;
    margin: .5rem 1rem .4rem 0rem;
    text-align: center;
}

.pin
{
    position: relative;
    font-size: 1rem;
    color: gray;
    padding-top: 1px ;
    text-align: center;

}




/*--Hebergement à Marseille--*/
.hebergements
{
    background-color: #F2F2F2;
    border-radius: 1em;
    margin-right: 2rem;
}

.flex-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 2rem;      
}

.flex-container > div 
{
    border: gray;
    background-color: #ffffff;
    margin: 5rem 0rem 0rem 2.7rem;
    padding: 0rem 14rem 12.7rem 0rem;
    position: relative;
    box-shadow: 0rem 0rem 0.7rem 0rem #808080;
    border-radius: 1rem;
  }
 
.flex-container h2
  {
    margin: 2rem 2.7rem;
    font-size: 1.3rem;
    position: absolute;
    font-weight: bold;
  }

.flex-container p
{
    margin: 3rem 0rem 2rem 2.7rem;
    font-weight: bold;
    font-size: 1rem;

}


.img
{
    width: 98%;
    height: 9rem;
    object-fit: cover;
    margin: 0.1rem 0rem 0rem .1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: absolute;
}

.text-boxe 
{
    position: absolute;
    text-align: left;
    padding: 9.6rem 0rem 0rem 0.5rem;
    line-height: 1rem;
    font-size: .8rem;   
}

.tfirst
{
    font-weight: bold;
}

.tsecond
{
    color:#808080;
    font-size: .7rem;
}


/* Par défaut, une étoile est en gris */
   .fa-star 
   {
	color: #d3d3d3;
	cursor: pointer;
    padding: 0.0625rem;
    
}
/* la classe '.checked', elle sera en blue. */
.fa-star.checked {
    color: #0065fc;
}

/* Le parent global '.rating' positionne le groupe des étoiles et le lien en colonne */
.rating 
{
	display: flex;
	flex-direction: column;
    align-items: flex-start; 
    text-align: center;   
}

	/* Le groupe stars */
.stars {
    display: inline-flex;
    justify-content: center;
    font-size: .5rem;
	}

	/* hover sur le parent */
.stars:hover .fa-star {
		color: #0065fc;
	}
	/* si la souris survole une étoile en particulier,
		 on sélectionne toutes les étoiles qui sont APRÈS celle-ci
		 grâce à l'opérateur '~' et on les force en GRIS */
	.stars .fa-star:hover ~ .fa-star {
		color: gray;
    }
 
    
/*--aside--*/

section
{
    display: flex;
    margin: 0rem;
}
   
.aside-img
{
    display: flex;
    flex-direction: column;
}

#flex-container-as
{
   
    background-color: #F2F2F2;
    border-radius: 1em;
    padding: 1.5rem 0.1rem 0.1rem 0rem;
    margin: 0rem 0rem 0.1rem 0rem;
    position: relative;
}


#flex-container-as > div
{
    border: gray;
    background-color: #fff;
    border-radius: 1em;
    margin: 1rem 1rem 0rem 1rem;
    padding-top: 0.1rem;
    box-shadow: 0rem 0rem 0.5rem 0rem #808080;
}

.aside-img
{
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 40%;
    height: 9.4rem;
    margin: 0rem 0rem 0rem 0.1rem;
    object-fit: cover;
    position: absolute;
}
.text-aside
{
    text-align: center;
    margin: 3rem 0rem 3rem 0rem;
    font-size: 1rem;
    line-height: 1rem;
}

.first-as
{
    text-align: left;
    width: 8rem;
    margin: 0rem 5rem 2rem 14rem;
    font-weight: bold;
}

.second-as
{
    text-align: center;
    padding: 0rem 1.1rem 1rem 9rem;
    margin: 0rem .7rem 0rem 0rem;
    color: gray;
    font-size: .7rem;
}

.populaire
{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0rem 0rem 0rem 1rem;
}

.fa-chart-line
{
    font-size: 1.7rem;
    margin: 0rem 0rem 0rem 12rem;
}

.stars-as 
{
    display: inline-flex;
    justify-content: center;
    font-size: 0.5rem;
    margin: -3rem 0rem 3rem 14rem;
}




/*--section2-GridImages--*/

article h2

{
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 3rem 0rem 0rem .2rem;
    font-weight: bold;
}

.wrapper
{
    display: grid;
    grid-template-columns: repeat(4, 21rem);
    grid-auto-rows: 2.5rem;
    grid-gap: 1.5rem;
    margin-top: 0.7rem;
}

.wrapper > div
{
    box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem #F2F2F2;
    border: .1rem;
    background-color: #ffff;
    object-fit: cover;
    border-radius: 1rem;
}

.gride-port
{
    grid-column: 1/2;
    grid-row: 1/9; 
}

.gride-img-port
{
    width: 100%;
    height: 27rem;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.gride-pomegues
{ 
    grid-column: 2/3;
    grid-row: 1/5 ;  
}

.gride-img-pomegues
{   width: 100%;
    height: 11rem;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.gride-frioule
{
    grid-column:2/3;
    grid-row: 5/9;
}
.gride-img-frioule
{
    width: 100%;
    height: 11rem;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.gride-calanques
  {
    grid-column: 3/4 ;
    grid-row: 1/9 ;
  }
  
  .gride-img-calanques
  {
    width: 100%;
    height: 27rem;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }


.gride-notre-dame 
{
    grid-column:4/5 ;
    grid-row:1/5 ;
}

.gride-img-notre-dame
{
    width: 100%;
    height: 11rem;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.gride-longchamp
{
    grid-column:4/5 ;
    grid-row:5/9 ;
}

.gride-img-longchamp
{
    width: 100%;
    height: 11rem;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.wrapper p
{
    font-weight: bold;
    font-size: 1rem;
    margin: 1em 0 0em 1em;
}


/*--footer--*/


#foot-container
{    
    display: flex;
    border: 1px;
    background-color: #F2F2F2;
    margin: 3rem 0rem 0rem 0rem;
    padding-bottom: 3rem;
}

#foot-container > div
{
    margin: 3rem 7rem 0rem 1rem;
    padding-right: 8rem;
    color: #808080;
    text-align: justify;
    line-height: 1.6em;   
}


#foot-container h2
{
    font-weight: bold;
    color: #000000;
}

footer div a {
    text-decoration: none;
    color:#808080;
}



/*--Start-Mqueries-mobile--*/

@media all and (max-width: 800px)

{
      

/*--MQ-logo-nav--*/


.titre-principal
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly ; 
}


/*--MQ-logo--*/

.logo
{

    margin-top: 1em;
}


/*--MQ-blueline--*/

ul {
    padding: 0rem 0rem 1rem 2rem;
    position: relative;
    border-bottom: .1rem solid #ccc;
    width: 30rem;  
  }
  
  
nav ul
 {
    display: flex;
    margin-top: 2rem;
}

nav a 
{
    padding: 0px;
}

nav li
  {
    margin: 0rem 2rem 1rem 0rem;
  }
  
  
  .li-middle
  {
      color: #808080;
      margin-left: 9rem;
  }

  
.li-height
{
    margin-top:-4rem;
    color: #0065FC;
    font-size: 1rem;
    position:absolute;
}


nav a:hover
{
    border-bottom: .1rem solid #0065fc;
    border-top: none;
    padding: 0px 0px 2rem 0rem;
}



/*--MQ-hébergement-centre--*/

.hcentre
{
    display: flex;
    flex-direction: column;  
}

.hebergement
{
    font-weight: bold;
    margin-top: 3rem;
    font-size: 2rem;
    width: 28rem;
}

.centre
{
    color: #808080;
    font-size: 1.2rem;
    padding-bottom: 2rem;
    width: 25rem;
}


/* --MQ-formulaire--*/



.recontainer
{
  display: inline-flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: bold;
  visibility: visible;
} 


.left
{
    background: #d3d3d3;
    padding-right: 1rem;
    margin: 0px;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
.left .fas {
    padding: 0.1rem 1rem 0rem 1rem;
}

.search
{
    display: block;
    border: .01px solid lightgray;
    position: relative;
    padding: 0rem 7rem 9rem 2rem;
}

.searchInput
{
    margin: auto;
    padding: 1rem 10rem 1rem 4rem;
    font-size: 1rem;
}


.btn
{
    visibility: visible;
    border: 0rem;
    padding: 1.5rem 2rem 1rem 1rem;
    margin-left: 25.5rem;
    background-color: #0065fc;
    color: #ffffff;
    border-radius: 1em;
    position: absolute;
}

.btn .fas
{
    margin-left: 1rem;
}

.boutton
{
display:none;
}


/*--shadow-hover-layer--*/

.btn:hover 
{
    background-color:#808080;
}


/*--MQ-Filtres--*/

  .container-aa
  {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 0rem;
    visibility: visible;
    width: 100%;
  }
  
  .container-aa > div:hover
  {
      cursor: pointer;
      border-color: #0065FC;
      color: #0065FC;

  }
  
  
  .container-aa h1
  {
    padding: 2rem 0rem;
    margin: 1rem 0rem 0rem;
    font-size: 1.5rem;
  }
  
  
  .cercle-filtre
  {   
    height: 37px;
    position: relative;
    width: 37px;
    background: #DEEBFF;
    border-radius: 100%;
    color: #0065FC;
    text-align: center;  
  }
  
  
  .cercle-filtre .fas
  { 
    padding: 0rem 1rem 0rem .3rem;
    margin: .8rem 0rem 0rem .2rem;
    font-size: .9rem;
    text-align: center;
  }
  
  .container-aa h2
  { 
    padding-left: 2.5rem;
    position: absolute;
    font-size: .8rem;
  }
  
  
  .economique
  {
    border: 2px solid rgb(233, 230, 230);
    margin: 0rem 11rem 1rem 0rem;
    border-radius: 5em;
    position: relative;
  }
  
  
  /*--familial--*/
  
  .familial
  {
    border: 2px solid rgb(233, 230, 230);
    margin: 7rem 9rem 0rem 20rem;
    padding-right: 1rem;
    border-radius: 5em;
    position: absolute;
    width: 30%;
  }
  
  
  /*--romantique--*/
  
  .romantique
  {
    border: 2px solid rgb(233, 230, 230);
    margin: 1rem 11.5rem 1rem 0rem;
    padding-right: 1rem;
    border-radius: 5em;
    position: relative;
  }
  
   
  /*--animeaux-autorises--*/
  
  .animeaux_autorises
  {
    border: 2px solid rgb(233, 230, 230);
    margin: 1rem 6rem 1rem 0rem;
    padding-right: 1rem;
    border-radius: 5em;
    position: relative;
  }
  

/*--cercle d'info--*/

.cercle-info
{
    display: flex;
}

.cercle
 {   
    background: #fff;
    border: 2px solid rgb(233, 230, 230);
    margin: 0.5rem 0rem 2rem;
    padding: 0rem 0.1rem 0.1rem 0.5rem;    
 }

.info
{
    font-size: .8rem;
    color: #0065fc;
    margin: auto;
    text-align: center;
    padding: 0.5em 0.5em 0em 0em;
}

.pin
{
    position: relative;
    color: gray;
    text-align: center;
}
.pin h2
{
    font-size: 1rem;
    width: 27rem;
}



/*--MQ-Section-inversée--*/

section 
{
    display: flex;
    flex-direction: column-reverse;
}


/*--MQ-Haside--*/

section
{
    display: flex;
}
   
.aside
{
    margin: auto;

}

.aside-img
{
    display: flex;
    flex-direction: column;
}

#flex-container-as
{
   
    background-color: #F2F2F2;
    border-radius: 1em;
    padding-right: 2rem;
    position: relative;
    width: 30rem;
}


#flex-container-as > div
{
    border: gray;
    background-color: #fff;
    border-radius: 1em;
    margin: 1rem 0rem 0rem 1rem;
    padding: 0.1rem 0.5rem 0rem 0rem;
    box-shadow: 0rem 0rem 0.5rem 0rem #808080;
}

.aside-img
{
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 40%;
    height: 9.4rem;
    margin-left: 0.1rem;
    object-fit: cover;
    position: absolute;
}
.text-aside
{
    text-align: center;
    margin: 3rem 3rem 3rem 2rem;
    font-size: 1rem;
    line-height: 1rem;
}

.first-as
{
    text-align: left;
    width: 9rem;
    margin: 0rem 5rem 2rem 14rem;
    font-weight: bold;
}

.second-as
{
    text-align: center;
    padding: 0rem .4rem 1rem 9rem;
    margin-right: .7rem;
    color: #808080;
    font-size: .7rem;
}

.populaire
{
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 1rem;
    padding-top: 1rem;
}

.fa-chart-line
{
    font-size: 1.5rem;
    margin-left: 14rem;
    position: absolute;
}

.stars-as 
{
    display: inline-flex;
    justify-content: center;
    font-size: 0.5rem;
    margin: -3rem 0rem 3rem 14rem;
}


 /*--MQ-Hebergement à Marseille--*/

 
 .hebergements
{
    background-color: #fff;
    border-radius: 1em;
}

.flex-container
{
    display: flex;
    flex-direction: column;       
}

.flex-container > div 
{
    border: #808080;
    background-color: #ffffff;
    margin: 6rem 0rem 0rem 0.5rem;
    padding-bottom: 12.7rem;
    position: relative;
    box-shadow: 0rem 0rem 0.7rem 0rem #808080;
    border-radius: 1rem;
    width: 16rem;
  }
 
.flex-container h2
  {
    margin: 3rem 0rem 0rem 1rem;
    font-size: 1.4rem;
    position: absolute;
    font-weight: bold;
  }

.flex-container p
{
    margin: 3rem 0rem 2rem 1rem;
    font-weight: bold;
    font-size: 1rem;

}



/*--MQ-grid--*/


article h2

{
    font-size: 1.4rem;
    padding-bottom: 1rem;
    margin: 2rem 0rem 0rem 0.2rem;
    font-weight: bold;
}

.wrapper
{
    display: flex;
    flex-direction: column;
    margin: 0.7rem 0rem 0rem .3rem;
    width: 30rem;
}

.wrapper > div
{
    box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem #F2F2F2;
    border: .1rem;
    background-color: #ffff;
    object-fit: cover;
    border-radius: 1rem;
}


.gride-img-port
{
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}



.gride-img-pomegues
{   width: 100%;
    height: 12rem;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}


.gride-img-frioule
{
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}


.gride-img-calanques
  {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }


.gride-img-notre-dame
{
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}


.gride-img-longchamp
{
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.wrapper p
{
    font-weight: bold;
    font-size: 1rem;
    margin: 1em 0rem 1em 1em;
}



/*--footer--*/

#foot-container
{    
    display: flex;
    flex-direction: column;
    border: 1px;
    background-color: #F2F2F2;
    margin-top: 3rem;
    padding-bottom: 2rem;
    width: 35rem;
}



}

/*--End-MQ--*/




