
head{
    font-family: 'Raleway', sans-serif;
}



.alcontainer
{
 margin:0 20px 0 20px;
}


/* line*/
.hr
{
    border-color:#0065fc;
    width: 15%;
    margin: 10px 30px 0 700px;
    border-width: thin;
}

/* nav */


nav ul
{
  list-style-type: none;
  display: inline-flex; 
  margin : 40px 10px 0 700px;
}

nav li
{
    margin:right;
    
}

nav a
{
    font-size: 1em;
    padding-right: 2em;
    color: #0065fc;
    text-decoration:none;
    font-style: normal;
}

nav a:hover
{
    color:grey;
    border-bottom: 2px solid #0065fc; 
}


/* Trouvez votre hebergement*/

#logo
{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 30px 20px 0 0;
    padding: 0px 20px 15px 0;
}

.hebergement
{
    font-weight: bold;
    padding-bottom: 5px;
}
.centre
{
    color:gray;
    font-size:12px;
}


/*--régler h1 dans toute le css*/
h1
{
    font-size: 1em;
   
}
h1+p
{
    color:grey;
}

/* formulaire*/
#recontainer
{
  display: flex;
  flex-direction: row;
  width: 40%;
  font-size: 12px;
  font-weight:bold;
} 
.i
{
    padding: 1em 0em 6em 1.2em;
}
.left
{
    border:0px;
    width: 7.5%;
    height:33px;
    background: lightgray;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.middle
{
 border: .01px solid lightgray;
 position: relative;
 width: 35%; 
 height:33px;
}

.rechercher
{
    border:10px;
    width: 19%; 
    height:33px;
    box-sizing:;
    background-color: #0065fc;
    border-top-right-radius: 1em;
    border-bottom-right-radius:1em;
}



/*filtres*/
#container
{
    display:flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 68%;
    font-size: 12px;
    font-weight: bold;
    margin: 2em 5em 0 0;
    padding: 0 4em 0 0 ;
    font-style: normal;

}

.filtres
{
    border:0;
    height:0;
    width: 0%;
    padding: 10px 40px 10px 1px;
    font-style:normal;  
}

.c1
{   
    height: 30px; 
    position:relative;
    width: 22%; 
    background: #DEEBFF;
    border:0;
    border-radius: 100%; 
    margin: 0px 15px 2.5px 0px ;
    padding: 0px 2px 2px 0;
    
}
.fas
{ 
    padding: 9px 0px 0px 0px;
}

.economique h1
{ 
    padding-left: 2.5em;
    position:absolute;
}


.economique
{
border: 1px solid rgb(233, 230, 230);
height: 2.6em;
position: ;
width: 20%;
padding:auto;
margin:auto;
border-radius: 5em;
font-style:normal;
}

/*familial*/

.familial
{
border: 1px solid rgb(233, 230, 230);
height: 2.6em;
width: 15%;
margin:auto;
border-radius: 5em;
font-style:normal;
}

.c2
{   
 height: 30px; 
 position:relative;
 width: 26%; 
 background: #DEEBFF;
 border:0;
 border-radius: 100%; 
 margin: 0px 15px 2.5px 0px ;
 padding: 0px 2px 2px .7px;
        
}
.fas
{ /* à régler fas vers le droit*/
padding: 9px 0px 0px 20px;
}

.familial h1
{ 
    padding-left: 2.5em;
    position:absolute;
 }

/* romantique*/

.romantique
{
    border: 1px solid rgb(233, 230, 230);
    height: 2.6em;
    width: 18.5%;
    margin:auto;
    border-radius: 5em;
    font-style:normal;
}

.c3
{   
 height: 30px; 
 position:relative;
 width: 21%; 
 background: #DEEBFF;
 border:0;
 border-radius: 100%; 
 margin: 0px 15px 2.5px 0px ;
 padding: 0px 2px 2px 0;        
 }

.fas
{ 
 padding: 9px 0px 0px 11px;
 }
     
 .romantique h1
 { 
 padding-left: 2.5em;
 position:absolute;
 }     

/* animeaux-autorisés*/

.animeaux_autorisés
{
border: 1px solid rgb(233, 230, 230);
height: 2.6em;
width: 22%;
margin:auto;
border-radius: 5em;
font-style:normal;
    }

.c4
 {   
 height: 30px; 
 position:relative;
 width: 20%; 
 background: #DEEBFF;
 border:0;
 border-radius: 100%; 
 margin: 0px 15px 2.5px 0px ;
 padding: 0px 2px 2px 0;        
 }
    
.fas
{ 
 padding: 9px 0px 0px 8px;
}
         
.animeaux_autorisés h1
{ 
 padding-left: 2.5em;
 position:absolute;
 }    


/*i-information */

#cinfo
{
    display:flex;
    justify-content: space-between;
    max-width: 35%;
    margin: 20px 20px 0 5px;
    padding: 0px 100px 0px 17px;
}

.cercle
 {   
 height: 5px; 
 position:relative;
 width: 3%; 
 background:white;
 border:2px solid rgb(233, 230, 230);
 border-radius: 100%; 
 margin: 12px 10px 0px 0px;
 padding: 0px 0px 10px 5px;        
 }

.info
{
    font-size: 9px;
    position:absolute;
    color: #0065fc;
    margin:2px 0px 0px 1.5px ;
    padding: 0px 0px 0px 0px 
}

.pin
{
    position: relative;
    font-size: .9em;
    color: gray;  
    padding: 0 40px 10px 0;
}



/* --illustrations-important-- */


#flex-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin: 2em 0 .5em;
    width: 100%;
    height: 28em;
    border-radius: .5em;

    
}

#flex-container > div 
{
    border: gray;
    background-color: white;
    border-radius: .5em;
    height: 7.8em;
    width: 16%;
    margin: 4em 1em 1em 1em;
    padding: .1em 3.8em 0em .2em;
  }
 
  #flex-container h1
  {
      padding: 0em 0 0 0em;
      color:red;
      font-size: 1em;
  }


.img
{
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    position:absolute;
    width:10.2em;
    height:4em;
}
#text
{
    
    position:absolute;
    text-align: left;
    width:10.1em;
    height:4.1em;
    padding:4.3em 8em 0em .6em;
    margin: ;
}


/* Par défaut, une étoile est en gris,
   avec un padding et un curseur en forme de main. */
   .fa-star {
	color: gray;
	cursor: pointer;
    padding: 0.0625rem;
    
}
/* la classe '.checked', elle sera en blue. */
.fa-star.checked {
    color: #0065fc;
}

/* Le parent global '.rating' positionne le groupe des étoiles et le lien en colonne */
.rating {
	display: flex;
	flex-direction: column;
    align-items: flex-start;    
}

	/* Le groupe '.stars' positionne les étoiles
		 les unes à côté des autres sans espacements. */
	.stars {
		display: inline-flex;
		justify-content: center;
        font-size: 9px;
        margin: 0px 0px 50px 0px;

	}

	/* A l'état :hover sur le parent '.rating',
		 on force TOUTES les étoiles à passer en blue. */
	.stars:hover .fa-star {
		color: #0065fc;
	}
	/* Et si la souris survole une étoile en particulier,
		 on sélectionne toutes les étoiles qui sont APRÈS celle-ci
		 grâce à l'opérateur '~' et on les force en GRIS */
	.stars .fa-star:hover ~ .fa-star {
		color: gray;
    }
 
    
/*--aside--*/

section
{
    display:flex;
    margin: 0px;
}


#flex-container-as
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F2F2F2;
  width: 70%;
  height: 28em;
  border-radius: .5em;
  margin: 4.1em 0em 0em 2em;
  padding:0px;
  position: relative;
}


#flex-container-as > div
{
    border: gray;
    background-color: white;
    border-radius: .5em;
    height: 5.2em;
    width: 63%;
    margin: 0em 1em 2.5em 1em;
    padding: .2em 4em 0em .2em;
    position:relative;
  
}

.img2
{
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    position:;
    width:5em;
    height:5em;
    position: absolute;
}
#text2
{
    position:relative;
    text-align: left;
    width:10.1em;
    height:4.5em;
    padding:0em 0em 0em 6em;
    margin: 0 2px 0 0;
}

.h1
{
    margin-left: 1em;
    text-align-last: inherit;
}
.fa-chart-line
{
margin-left: 5.3em;
}



/*--section2-GridImages--*/

.wrapper
{
   display:grid;
   grid-template: repeat(4, 2.5em) / repeat(4, 14.1em);
   grid-gap:20px;   
}

.wrapper > div
{
    box-shadow: 5px 5px #F2F2F2;
    border:0;
    background-color:#ffff;
    border-radius: 1em;
    
}


.one 
{
    grid-column:1/2;
    grid-row: 1/7; 
}
.vp
{
    width: 14.6em;
    height: 28em;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

.two 
{ 
    grid-column:2/3;
    grid-row: 1/6 ;
    
}
.fp
{    width: 14.1em;
    height: 9.3em;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

.three 
{
    grid-column:2/3;
    grid-row: 6/7;
}
.if
{
    width: 14.6em;
    height: 5.5em;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

.four 
  {
    grid-column:3/4 ;
    grid-row: 1/7 ;
  }
  .ng
  {
    width: 14.1em;
    height: 30em;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
  }


.five 
{
    grid-column:4/5 ;
    grid-row:1/4 ;
}
.nd
{
    width: 14.2em;
    height: 5em;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

.six 
{
    grid-column:4/5 ;
    grid-row:4/7 ;
}
.pl
{
    width: 14.2em;
    height: 14em;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}
.wrapper p

{
    font-size: 11px;
}

