
head{
    font-family: 'Raleway', sans-serif;
}


body
{ width:1024px;
  margin:auto;
}

 

/* --titre-principal-- */

.titre-principal
{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;  
}


.menu {
   
    margin: .5em 12em 0em 0em ;
  }

.logo
{vertical-align: top;
    width: 250px;
    margin: 3em 0 0 0;
}


nav ul
{
  list-style-type: none;
  display: inline-flex; 
  margin : 40px 170px 0 0px;
}

.blueline
{
    border-top: 1px solid #0065fc;
    width:150px ;
}


nav li
{
    margin:right;
    
}

nav a
{
    font-size: 1em;
    padding-right: 2em;
    color: #0065fc;
    text-decoration:none;
    font-style: normal;
}

nav a:hover
{
    color:grey;
    border-bottom: 2px solid #0065fc; 
}



/* Trouvez votre hebergement*/

.hcentre
{
    display: flex;
    flex-direction: column;
    width:50%;
}

.hébergement
{
    font-weight: bold;
    margin: 2em 0 0 0;
    
}
.centre
{
    color:gray;
    font-size:14px;
    margin-top: 1em;
    padding-bottom: 1em;
}


/*--régler h1 dans toute le css*/
h1
{
    font-size: 1em;
   
}
h1+p
{
    color:grey;
}


/* --formulaire--*/

.recontainer-a
{
  display: inline-flex;
  flex-direction: row;
  width: 64%;
  font-size: 12px;
  font-weight: bold;
  visibility: visible;
} 

.fai
{
    margin: 0em 0em 6em 10em;
    padding: 0 0 0 0em;   
}

.left
{
    width: 4.5%;
    height:38px;
    background: lightgray;
    padding: 0 0 0 .7em ;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}


.middle
{
display:block;
 border: .01px solid lightgray;
 position: relative;
 width: 27%; 
 height:36px;
}
.middle h1
{
    margin: 10px 0 0 12px;
    font-size:13px;
}


.boutton
{
    border:0px;
    width: 13%; 
    height:38px;
    background-color: #0065fc;
    color: #ffffff;
    border-top-right-radius: 1em;
    border-bottom-right-radius:1em;
}


/* shadow-button*/

.boutton:hover 
{
    background-color:#808080;
}


/*hidden-item--*/

.recontainer-b
{
  display: none;
  
} 



/*--filtres--*/

.container-aa
{
    display:flex; 
    width: 70%;
    font-size: 14px;
    font-weight: bold;
    margin: 30px 0px 0px 0px;
    visibility: visible;
}

.filtres
{
    width: 0%;
    padding: 10px 48px 10px 2px;
    font-style:normal;  
}

.cercle-filtre
{   
    height: 37px; 
    position:relative;
    width: 24%; 
    background: #DEEBFF;
    border-radius: 100%; 
    margin: -1px 0px 0px -2px ;
    padding: -1px 0px 15px 0px;
    color: #0065FC;
    
}
.fas
{ 
    padding: 10px 10px 0px 1px;
    margin: 0 0 0 9px;
    font-size: 12px;
}

.container-aa h1
{ 
    padding-left: 50px;
    position:absolute;
    font-size: 13px;
}


.economique
{
border: 2px solid rgb(233, 230, 230);
height: 35px;
width: 20%;
margin:auto;
border-radius: 5em;
position: relative;

}

/*familial*/

.familial
{
border: 2px solid rgb(233, 230, 230);
width: 15%;
margin:auto;
border-radius: 5em;
position: relative;
}



/* romantique*/

.romantique
{
    border: 2px solid rgb(233, 230, 230);
    width: 19%;
    margin:auto;
    border-radius: 5em;
    position: relative;
}


 
/* animeaux-autorisés*/

.animeaux_autorisés
{
border: 2px solid rgb(233, 230, 230);
width: 24%;
margin:auto;
border-radius: 5em;
position: relative;

}




/*--cercle d'info-- */

#cinfo
{
    display: flex;
    justify-items: left;
    max-width: 40%;
    margin: 3em 5em 0em 0em;
    padding: 0em 1em 1em 0em;
}

.cercle
 {   

 height: 10px; 
 position:relative;
 width: 3.5%; 
 background:white;
 border:2px solid rgb(233, 230, 230);
 border-radius: 100%; 
 margin: 8px 8px 10px 0px;
 padding: 0px 0px 10px 5px;        
 }

.info
{
    font-size: 9px;
    position:absolute;
    color: #0065fc;
    margin:3px 0px 0px 2.5px ;
    padding: 0px 4px 0px 0px 
}

.pin
{
    position: relative;
    font-size: .9em;
    color: gray;  
    padding: 3px 40px 10px 0;
}


.container-bb
{
    display: none;  
    visibility: hidden;
}




/* --Hébergement à Marseille-- */


#flex-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;   
    background-color: #F2F2F2;
    margin:0px;
    padding: 1em 0 0 2em;
    width: 100%;
    height: 495px;
    border-radius: 1em;

}

#flex-container > div 
{
    border: gray;
    background-color:#ffffff;
    height: 149px;
    width: 20%;
    margin: 48px 24px -60px -8px;
    padding: .3em 3.6em 0em .2em;
    position:relative;
    border-radius: 15px;  
  }
 
  #flex-container h1
  {
      margin:16px 25px 0px -5px;
      font-size: 19px;
      position:absolute;
  }

#flex-container p
{
  margin: 55px 470px 0px 0px;
  font-weight: bold;
  font-size: 15px;
}


.img
{
    width:96.5%;
    height:82px;
    object-fit: cover;
    margin:   auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position:absolute;
}
.text-boxe 
{
     position:absolute;
    text-align: left;
    width:10.1em;
    padding:91px 0px 0px 11px;
    line-height: 17px;
    font-size:13px;   
}

.tfirst
{
    font-weight: bold;
}
.tsecond
{
    color:#808080;
    font-size: 12px;
}



/* Par défaut, une étoile est en gris,
   avec un padding et un curseur en forme de main. */
   .fa-star {
	color: gray;
	cursor: pointer;
    padding: 0.0625rem;
    
}
/* la classe '.checked', elle sera en blue. */
.fa-star.checked {
    color: #0065fc;
}

/* Le parent global '.rating' positionne le groupe des étoiles et le lien en colonne */
.rating {
	display: flex;
	flex-direction: column;
    align-items: flex-start;    
}

	/* Le groupe '.stars' positionne les étoiles
		 les unes à côté des autres sans espacements. */
	.stars {
		display: inline-flex;
		justify-content: center;
        font-size: 8.5px;
        margin: 0px 0px 50px -1px;

	}

	/* A l'état :hover sur le parent '.rating',
		 on force TOUTES les étoiles à passer en blue. */
	.stars:hover .fa-star {
		color: #0065fc;
	}
	/* Et si la souris survole une étoile en particulier,
		 on sélectionne toutes les étoiles qui sont APRÈS celle-ci
		 grâce à l'opérateur '~' et on les force en GRIS */
	.stars .fa-star:hover ~ .fa-star {
		color: gray;
    }
 
    

/*--aside--*/


#flex-container-as
{
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  width: 100%;
  height: 512px;
  border-radius: 1em;
  margin: 0px 0px 0px -8px;
  padding:0px;
  position: relative;
}


#flex-container-as > div
{
    border: gray;
    background-color: white;
    border-radius: 1em;
    height: 115px;
    width: 63%;
    margin: 3px -35px 27px 20px;
    padding: .2em 4em 0em .3em;
    position:relative;
  
}

.img2
{
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    position:;
    width:36%;
    height:112px;
    object-fit:cover;
    position: absolute;
}
.text-aside
{
    position:relative;
    text-align: left;
    width:185px;
    padding:0px 15px 0px 107px;
    margin: 7px 37px 0px -55px;
    font-size: 13px;
    line-height: 13px;
}

.first-as
{
    position:relative;
    text-align: left;
    width:125px;
    height:60px;
    padding:5px 0px 0px 68px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}

.second-as
{
    position:relative;
    text-align: left;
    width:105px;
    height:48px;
    padding:0px 0px 0px 68px;
    margin: -28px 0px 0px 0px;
    color:gray;
    font-size:12px;
}


.populaire
{
    font-weight: bold;
    font-size: 19px;
    padding: 2px 0px 0px 0px;
    margin: 22px 0px 0px 21px;
}
.fa-chart-line
{
margin: 0px 0px 13px 102px;
font-size: 18px;
}

.stars-as 
{
    display: inline-flex;
    justify-content: center;
    font-size: 8.5px;
    margin: -3px 0px 0px 67px;

}


section
{
    display:flex;
    margin:0px;
}
   
article, aside
{

    margin-left: 2em;
    
}


article
{
  margin-right:0px;

}




/*--section2-GridImages--*/

article h2

{
    font-size: 19px;
    padding-top: 40px;
    margin: 0px 10px 0px -36px;
    font-weight: bold;
}

.wrapper
{
   display:grid;
   grid-template-columns: repeat(4, 240px);
   grid-auto-rows: 30px;
   grid-gap:20px;   
   width: 100%;
   margin:14px 0px 0px -37px;
}

.wrapper > div
{
    box-shadow: 5px 5px #F2F2F2;
    border:2px;
    background-color:#ffff;
    border-radius: 1em;
    object-fit: cover;
}

.one 
{
    grid-column:1/2;
    grid-row: 1/9; 
}
.vp
{
    width: 240px;
    height: 21em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

.two 
{ 
    grid-column:2/3;
    grid-row: 1/5 ;
  
}
.fp
{   width: 240px;
    height: 9em;
    object-fit:cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;

}

.three 
{
    grid-column:2/3;
    grid-row: 5/9;
}
.if
{
    width: 240px;
    height: 8.5em;
    object-fit:cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

.four 
  {
    grid-column:3/4 ;
    grid-row: 1/9 ;
  }
  .ng
  {
    width: 240px;
    height: 21em;
    object-fit:cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
  }


.five 
{
    grid-column:4/5 ;
    grid-row:1/5 ;
}
.nd
{
    width: 240px;
    height: 8.5em;
    object-fit:cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

.six 
{
    grid-column:4/5 ;
    grid-row:5/9 ;
}
.pl
{
    width: 240px;
    height: 8.5em;
    object-fit:cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

.wrapper p
{
    font-weight: bold;
    font-size: 12px;
    margin: 1em 0 0em 2em;
}



/*--footer--*/

#foot-container
{    
    display: flex;
    justify-content: ;
    border:1px;
    background-color: #F2F2F2;
    width:1110px;
    height: 200px;
    margin: 50px 40px 0px -50px;
}

#foot-container > div
{
    margin:31px 5px 0px 54px;
    padding-right:118px ;
    color: #808080; 
    text-align: justify;
    line-height: 1.6em;    
}


#foot-container h1
{
    font-weight: bold;
    color:#000000;
}












/*--Start-Mqueries-mobile--*/

@media all and (max-width: 1240px)

{
   body
    {
        width: 100%;
     margin:0 0 0 1em;
    }

    
/*--MQ-header-*/

header
{
    width:100%;
}


/* --MQ-logo-nav-- */



.titre-principal
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly ; 
}


/*MQ-nav--*/
ul
 {
    display: flex;
     
    width: 20%; 
}

nav li
{
    margin: 0 0em 1em 0;
}

.blueline
{
    border-top: none;
    border-bottom: 3px solid #0065fc;
    border-top-width:150px ;
}

nav a:hover
{
    color:#0065fc;
    border-bottom: 2.5px solid #0065fc; 
}



/*--MQ-hébergement-centre*/

.hcentre
{
    display: flex;
    flex-direction: column;  
    width: 100%;    
}

.hébergement
{
    font-weight: bold;
    margin-top: 30px;
    width:39%;
    font-size: 20px;
}

.centre
{
    color: gray;
    font-size:15px;
    width: 37%;
    margin-top: 10px;
    padding-bottom: 12px;
}






/* --MQ-formulaire--*/

.recontainer-a
{
  display: none;
} 


.boutton
{
    border:0px;
    width: 20%; 
    height:33px;
    background-color: #0065fc;
    color: #ffffff;
    border-top-right-radius: 1em;
    border-bottom-right-radius:1em;
    margin-right: 20em;
}



/*MQ-hidden-item--*/

.recontainer-b
{
  display: flex;
  flex-direction: row;
  justify-items: left;
  width: 100%;
  font-weight: bold;
  visibility: visible;
  position: relative;
  margin-top: 18px;
} 

.left-h
{
    width: 7%;
    height:43px;
    background: #F2F2F2;
    padding: .2em 0 0 .2em ;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
}

.fas
{
    margin: 8px 0px 0px 15px;
    font-size:16px;
}


.middle-h
{
 display:block;
 border: .1px solid lightgray;
 width: 30%; 
 height:44px;
 position:relative;
}

.middle-h h1
{
    font-size: 14px;
    margin: 15px 0 0 12px;
}

.btn
{
    border:none;
    width: 8%; 
    height:45px;
    background-color: #0065fc;
    border-radius: 13px;
    cursor: pointer;
    padding: 0px 0px 4px 4px;
    margin-left: 220px;
    position: absolute;
}

.fa-search
{
    color:#ffffff;
    margin: 0 0em 5em 4em;
    padding:auto;
    font-size: 11px;
    border: none;
}

.btn:hover 
{
    background-color:#808080;
    padding: 0 2em 1em 0;
}





  /*-MQ-filtres*/


  /*--Hidden-Filtres--*/

.container-aa
{
    display: none ;
    visibility: hidden ;
}


.container-bb
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    background-color: #ffffff;
    margin:16px 0px 0px 0px;
    padding: 10px 0px 20px 4px;
    width: 100%;   
    font-size: 13px;
    font-weight: bold;
    position:relative; 
    visibility: visible;
}
 
.container-bb > div
{
    border:2px solid lightgray;
    margin: 29px 10px 0px 0px;
    padding: 0px 0px 3px 10px;
    position:relative;
    border-radius: 15px;
    position: relative;
    color: #0065FC;

}

.container-bb h1
{
    margin: 0em 2em 0em 0em;
    padding: 0 0 .5em 0;
    font-size: 16px;
    position:absolute;
}


.economique-h
{
border: 2px solid #d3d3d3;
height: 2.9em;
width: 28%;
padding:0px 0px 3px 10px;
margin:29px 10px 0px 0px;
border-radius: 5em;
font-style:normal;
position: absolute;
}


.cercle-filtre
{   
    height: 29px; 
    width: 18.2%; 
    background: #DEEBFF;
    border:0;
    border-radius: 100%; 
    margin: 0 3em 8em 0;
    padding: 0 1em 0em 0em;
    position: absolute;
}
.fas
{ 
    padding: 1em 0px .8em .6em ;
}

.economique-h h1
{
    margin: .8em 1em 0 3em;
    font-size: 11px;
}



/*--familial*/

.familial-h
{
border: 1px solid rgb(233, 230, 230);
height: 2.9em;
width: 23%;
margin-right: ;
border-radius: 5em;
font-style:normal;
}


.fas
{ /* à régler fas vers le droit*/
padding: 0em 4em 0em 0em ;
margin: 0 1em 0 0;
}

.familial-h h1
{ 
    padding: .8em 0 0em 3em;
    margin: 0 0 0 .6em;
    font-size: 11px;
 }


/* MQ-romantique*/

.romantique-h
{
    border: 2px solid rgb(233, 230, 230);
    height: 2.9em;
    width: 26%;
    margin:auto;
    border-radius: 5em;
    font-style:normal;
}


.fas
{ 
 padding: auto;
 }
     
 .romantique-h h1
 { 
   padding: .8em 0 1.5em 3em ;
   font-size: 11px;
 }     

/* MQ-animeaux-autorisés*/

.animeaux_autorisés-h
{
border: 2px solid rgb(233, 230, 230);
height: 2.9em;
width: 50%;
margin:auto;
border-radius: 5em;
font-style:normal;
}

    
.fas
{ 
 padding: .6em 0em 0em .7em ;
}
         
.animeaux_autorisés-h h1
{ 
  padding: .8em 0 1em 3.5em ;
  font-size: 11px;

 }    





/*--cercle d'info-- */

#cinfo
{
    display: flex;
    width: 40%;
    padding: 0 0 2em 0;   
}

.cercle
 {   

 height: 9px; 
 width: 4%; 
 background:white;
 border:2px solid rgb(233, 230, 230);
 border-radius: 100%; 
 margin: 9px 0px 9px 5px;
 padding: 0px 1px 10px 9px;        
 }

.info
{
    font-size: 9px;
    position:absolute;
    color: #0065fc;
    margin:4px 5px 2px 0px ;
    padding: 0px 0px 4px 0px ;
}

.pin
{
    position: absolute;
    font-size: .9em;
    width: 45%;
    color: gray;  
    margin: 0 2em 0 3em;
    padding: 3px 40px 10px 0;
}




/*--MQ-Hidden-aside--*/

section
 {
     display: flex;
     flex-direction: column;    
 }



#flex-container-as
{
  flex-direction: column;
  justify-content: left;
  background-color: #F2F2F2;
  width: 100%;
  height: auto;
  border-radius: 1em;
  margin: 1em 0em 0 0;
  padding:;
  position:;

}


#flex-container-as > div
{
    border: gray;
    background-color: white;
    border-radius: 1em;
    height: 6.7em;
    width: 28%;
    margin: 1em 15.5em 0 2em;
    padding: auto;
}

.img2
{
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    position:;
    width:6em;
    height:6.6em;
    object-fit:cover;
}

.text22
{
    position:relative;
    text-align: left;
    width:10.3em;
    height:4.5em;
    padding:0em 0em 0em 7em;
    margin: 0 2px 0 0;
}

.text23
{
    position:relative;
    text-align: left;
    width:10.3em;
    height:4.5em;
    padding:0em 0em 0em 7em;
    margin: 0 2px 0 0;
}

.text24
{
    position:relative;
    text-align: left;
    width:10.3em;
    height:4.5em;
    padding:0em 0em 0em 7em;
    margin: 0 2px 0 0;
}


.populaire
{
    margin: 0 0em 0 2em;
    text-align-last: inherit;
    font-weight: bold;
}
.fa-chart-line
{
margin: 0 1em 0 4em;
}




 /* --MQ-Hébergement à Marseille-- */

 
#flex-container
{
    flex-direction: column;    
    max-width: auto;   
    background-color: #F2F2F2;
    margin:0em 0 0 0;
    width: 100%;
    height: auto;
    border-radius: .5em; 
   
}

#flex-container > div 
{
    border: gray;
    background-color: white;
    border-radius: .5em;
    height: 8.9em;
    width: 28%;
    margin-top:2em;
    padding: auto;
  }
 
  #flex-container h1
  {
      margin: 0em 5em 10em 0em;
      font-size: 1.2em;
  }

  .text-boxe
  {
       position:absolute;
      text-align: left;
      width:10.1em;
      height:4em;
      padding:5.2em 4em 0em .8em;
      
  }

#flex-container p
{
  margin: .4em 0em 0 0;
  font-weight: bold;
  font-size: .9em;
}

.img
{
    width:13.5em;
    height:5em;
    object-fit: cover;
    padding: 0em 4em 1em 0;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.text-boxe 
{
     position:absolute;
    text-align: left;
    width:10.1em;
    padding:91px 0px 0px 11px;
    line-height: 17px;
    font-size:13px;   
}

.tfirst
{
    font-weight: bold;
}
.tsecond
{
    color:#808080;
    font-size: 12px;
}



/*--MQ-grid--*/


article h2

{
    font-size: 1.2em;
    padding: 3em 0em 0em 0;
    margin: 1em 0em 0 1.9em;
    font-weight: bold;
}

.wrapper
{
   display:flex;
   flex-direction: column;
   justify-content: space-around;
   width:100%;
   margin:0 0 0 1em;
   height: auto;

}

.wrapper > div
{
    box-shadow: 3px 3px #F2F2F2;
    border:1px;
    height: 9em;
    width: 36.5%;
    margin: 2em 0 0 1em;
    padding: .6em 0 0 0;
    background-color:#ffff;
    border-radius: 1em;    
}

.wrapper p
{
    font-weight: bold;
    font-size: 12px;
    margin: .5em 0em 0em 2em;
}


.vp
{
    width:13em;
    height:7em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

.fp
{   width:13em;
    height:7em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;

}

.if
{
    width:13em;
    height:7em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

  .ng
  {
    width:13em;
    height:7em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
  }

.nd
{
    width:13em;
    height:7em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}

.pl
{
    width:13em;
    height:7em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius:1em;
}



/*--footer--*/

#foot-container
{    
    display: flex;
    flex-direction: column;
    border:1px;
    background-color: #F2F2F2;
    width:100%;
    height: auto;
    margin: ;
}

#foot-container > div
{
    text-align: justify;
    margin: 0em 0em 0 2em  ;
    padding:2em 0 0 0 ;
    color: #808080; 
    text-align: justify;
    line-height: 1.6em;    
}

#foot-container h1
{
    color: black;
    font-weight: bold;
}

}
/*--End-MQ--*/


